* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

.container {
    padding: 0 32px;
    max-width: 1140px;

    margin-left: auto;
    margin-right: auto;
}

/* navbar */
nav {
    background-color: #0084FD;
}

nav .container {
    display: flex;
    justify-content: space-between;
    padding-top: 19px;
    padding-bottom: 19px;
}

nav img {
    width: 80px;
}

nav .right {
    display: flex;
    align-items: center;
    column-gap: 32px;
    display: none;
}

nav ul {
    display: flex;
    column-gap: 32px;
}

nav li {
    list-style-type: none;
}

nav li a {
    text-decoration: none;
    color: white;
}

nav .button {
    padding: 10px 16px;
    background-color: white;
    text-decoration: none;
    color: black;
    border-radius: 50px;
}

nav .burger {
    display: flex;
    align-items: center;
}

nav .burger i {
    font-size: 22px;
    color: white;
}

/* fine navbar */


/* sezione intro */
#intro .container {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    margin-top: 48px;
    padding-bottom: 80px;
}

#intro .card {
    width: 100%;
    background-color: #B5DDFF;

    border-radius: 16px;

    padding: 36px 30px;
    text-align: center;
}

#intro .card:not(:first-child) {
    display: flex;
    flex-direction: column;
}

#intro .card i {
    color: #0084FD;
    margin-bottom: 30px;
}

#intro .card h3 {
    font-weight: 700;
    font-size: 25px;
    letter-spacing: -0.5px;
    color: #0084FD;
    margin-bottom: 40px;
}

#intro .card p {
    line-height: 26px;
    color: #607587;
}

#intro .card .button {
    align-self: flex-start;
    text-decoration: none;
    font-weight: 400;
    color: white;
    font-size: 20px;
    letter-spacing: 1.5px;

    background-color: #0084FD;
    padding: 10px 36px;
    border-radius: 50px;
}

#intro .card .button i {
    color: white;
    margin: 0;
}


#intro .card:first-child {
    background-color: #B5DDFF;

    border-radius: 16px;
    padding-bottom: 0;
    text-align: start;
}

#intro .card:first-child h3 {
    margin-bottom: 0;
}

#intro .card:first-child .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 36px;
    margin-bottom: 36px;

}

#intro .card:first-child .right {
    display: flex;
    justify-content: flex-start;
}

#intro .card:first-child img {
    width: 250px;
}

/* fine sezione intro */

/* sezione planning */
#planning {
    background-color: #9792E4;
    padding: 64px 0;
}


#planning .left img {
    width: 100%;
    padding-bottom: 80px;
}

#planning .left .text {
    margin-bottom: 32px;
}

#planning .left h2 {
    font-weight: 700;
    font-size: 36px;
    color: white;
    margin-bottom: 56px;
}

#planning .left p {
    color: white;
    line-height: 26px;
}

#planning .right .card {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 22px 32px;

    width: 100%;
    background-color: white;
    border-radius: 48px;

    text-align: center;
}

#planning .right .card img {
    width: 100%;
    margin-bottom: 20px;
}

#planning .right .card h3 {
    font-weight: 700;
    font-size: 25px;
    letter-spacing: -0.5px;
    color: black;
    margin-bottom: 20px;
}

#planning .right .card p {
    font-size: 20px;
    line-height: 30px;
    font-style: italic;
    margin-bottom: 20px;
}

#planning .right .card i {
    background-color: #9792E4;
    padding: 16px 20px;
    border-radius: 50%;
}

/* fine sezione planning */

/* sezione testimonials */
#testimonials {
    padding: 64px 0 112px;
    background-color: white;
    text-align: center;
}

#testimonials .text {
    width: 100%;
    margin-bottom: 48px;
}

#testimonials span {
    display: block;
    letter-spacing: 2px;
    margin-bottom: 36px;
}

#testimonials h2 {
    color: #9792E4;
    font-size: 36px;
    letter-spacing: -1.5px;
    font-weight: 700;
    margin-bottom: 36px;
}

#testimonials p {
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 48px;
}

#testimonials .cards-container {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

#testimonials .card {
    width: 100%;
    background-color: #9792E4;
    border-radius: 48px;

    padding: 32px 16px;
    color: white;
}

#testimonials .card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;

    margin-bottom: 24px;
}

#testimonials .card q {
    quotes: none;
    font-size: 20px;
    line-height: 34px;
}

#testimonials .card strong {
    display: block;
    margin-top: 32px;
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 400;

}


/* fine sezione testimonials */

/* sezione benefits */
#benefits {
    padding: 72px 0 64px;
    background-color: #9792E4;
}

#benefits h2 {
    text-align: center;
    margin-bottom: 64px;

    font-weight: 700;
    font-size: 36px;
    color: white;
}

#benefits .cards-container {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

#benefits .card {
    width: 100%;
    background-color: white;
    border-radius: 12px;

    padding: 40px 36px 32px 32px;
    color: #949494;
}

#benefits .card span {
    display: block;
    color: #9792E4;
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 24px;
}

#benefits .card h3 {
    color: #9792E4;
    font-size: 25px;
    letter-spacing: -0.5px;
    margin-bottom: 28px;
}

#benefits .card p {
    line-height: 26px;
    margin-bottom: 28px;
}

#benefits .card .button {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
    background-color: #9792E4;
    padding: 10px 48px;
    border-radius: 50px;
}

/* fine sezione benefits */

/* sezione about */
#about {
    padding: 88px 0 80px;
}

#about h2 {
    margin-bottom: 56px;

    font-weight: 700;
    font-size: 48px;
    color: #9792E4;
}

#about p {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    margin-bottom: 56px;
}

#about img {
    height: 180px;
    width: 180px;
    border-radius: 50%;

    margin-bottom: 32px;
}

#about q {
    display: block;
    quotes: none;
    font-size: 30px;
    font-weight: 700;
    color: #9792E4;

    margin-bottom: 28px;
}

#about a {
    background-color: #9792E4;
    color: white;
    border-radius: 50px;

    padding: 12px 16px;
    text-decoration: none;
}

/* fine sezione about */

/* sezione cta */
#cta {
    padding: 68px 0 64px;
    background-color: #9792E4;
    color: white;
    text-align: center;
}

#cta .container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#cta #get-started {
    display: block;
    letter-spacing: 2px;
    margin-bottom: 28px;
}

#cta h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 42px;
}

#cta strong {
    display: block;
    font-size: 60px;
    font-weight: 700;
    color: #FDC15F;
    margin-bottom: 48px;
}

#cta p {
    margin-bottom: 32px;
    max-width: 488px;
}

#cta .button {
    display: inline-block;
    background-color: white;
    color: #9792E4;
    border-radius: 50px;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 20px 72px;
    margin-bottom: 48px;
}

#cta #copy {
    display: block;
    font-size: 14px;
}

#cta .link {
    color: white;
}

/* fine sezione cta */

/* footer */
footer {
    padding: 40px 0;
    background-color: #333;
    color: white;
    text-align: center;
}

footer .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer a {
    color: #9792E4;
}

footer p {
    display: inline-block;
    max-width: 380px;
    font-size: 14px;
    font-weight: 400;
}

footer p:first-child {
    margin-bottom: 64px;
}


/* fine footer */

/* RESPONSIVE */
/* media query tablet */
@media screen and (min-width: 768px) {

    #intro .container {
        margin-left: auto;
        margin-right: auto;

        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 24px;
    }

    #intro .card {
        width: calc(100% / 3 - 24px / 3 * 2);
    }

    #intro .card p {
        font-size: 18px;
        line-height: 30px;
    }

    #intro .card .button {
        font-size: 22px;
    }


    #intro .card:first-child {
        width: calc(100% / 3 * 2 - 24px / 3);
    }


    #intro .card:nth-child(2) {
        height: auto;
    }

    #planning .left h2 {
        font-size: 72px;
    }

    #planning .left p {
        font-size: 18px;
        line-height: 28px;
    }

    #testimonials .card {
        display: flex;
        text-align: start;
    }

    #testimonials .card img {
        margin-bottom: 0;
    }

    #testimonials .card .right {
        padding-top: calc(64px - 32px);
        padding-bottom: calc(64px - 32px);
        padding-left: 24px;
    }


    #benefits .cards-container {
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 32px;
    }

    #benefits .card {
        width: calc(100% / 2 - (32px / 2));
    }

    #benefits .card span {
        font-size: 70px;
    }

    #about {
        padding: 100px 0 150px;
    }

    #about .container {
        padding: 0 64px;
        display: flex;
        column-gap: 64px;
    }

    #about h2 {
        font-size: 70px;
    }

    #about p {
        margin: 0;
    }

    #cta .container {
        padding: 0 140px;
    }

    #cta h2 {
        font-size: 48px;
    }

    #cta strong {
        font-size: 97px;
    }

    #cta .button {
        padding: 28px 80px;
        font-size: 22px;
    }

}

/* media query laptop */
@media screen and (min-width:992px) {

    nav .right {
        display: flex;
    }

    nav .burger {
        display: none;
    }

    #intro .container .card {
        display: flex;
    }

    #intro .container .card:first-child .left {
        margin-bottom: 60px;
    }

    #intro .container .card:first-child .right {
        padding-top: 32px;
        align-items: flex-end;
    }

    #planning .container {
        display: flex;
        column-gap: 60px;
        padding-left: 132px;
        padding-right: 132px;
    }

    #planning .left {
        width: 50%;
    }

    #planning .left h2 {
        font-size: 36px;
    }

    #planning .left .text {
        margin-bottom: 0;
    }

    #planning .right {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    #testimonials .card .right {
        padding-top: calc(80px - 32px);
        padding-bottom: calc(80px - 32px);
        padding-left: 64px;
        padding-right: 40px;
    }

    #benefits .cards-container {
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 32px;
    }

    #benefits .card {
        width: calc(100% / 3 - 32px);
    }

}